.rake_test_cache
.chef
metadata.json
*.swp
.DS_Store
kickstart/*.ks
.rvmrc
.ruby-gemset
vendor/ruby
.bundle/
vendor/cache/
bin/
tmux*log
1
.strainer
.vagrant
Vagrantfile
.rvmrc
.rbenv-version
.rbfu-version
.chruby-version
vendor/bundle
.kitchen/
